<h1 class="my-5">
    Nos voitures
</h1>

<app-car-item [enfant]="enfantUn"></app-car-item>
<app-car-item [enfant]="enfantDeux"></app-car-item>
<app-car-item [enfant]="enfantTrois"></app-car-item>

{{ mardiMatin }}

<p>{{ age }} ans, âge maximal pour jouer au Cluedo (après t'es trop vieux pépé, tu captes rien)</p>

<div class="text-center shadow border p-5 bg-dark text-white">
    <h2>{{ game.title }}</h2>
    <p>Support: {{ game.support }}</p>
    <p>Multi: {{ game.multi }} joueurs</p>
    <p>Stock: {{ getStock() }} en stock</p>

    <img [src]="coverImage" alt="{{ game.title}}" class="img-fluid">

    <button class="btn btn-success my-3" [disabled]="isNotAvailable()" >Commander</button>
    <input class="form-control" type="text" [value]="userEmail">
</div>

{{ getMakeUp() }}