<footer class="bg-dark p-5 fixed text-white text-center">
    <p class="h3">MarianneLab</p>
    <div class="">
        <span class="mx-3 fs-2"><i class="fab fa-github"></i></span>
        <span class="mx-3 fs-2"><i class="fab fa-linkedin"></i></span>
        <span class="mx-3 fs-2"><i class="fab fa-youtube"></i></span>
        <span class="mx-3 fs-2"><i class="fab fa-instagram"></i></span>
        <span class="mx-3 fs-2"><i class="fab fa-snapchat"></i></span>
        <span class="mx-3 fs-2"><i class="fab fa-twitter"></i></span>
        <span class="mx-3 fs-2"><i class="fab fa-facebook-square"></i></span>
        <span class="mx-3 fs-2"><i class="fab fa-whatsapp"></i></span>
    </div>

</footer>
