<h1>Ajouter un pilote</h1>
<div class="col-6 border shadow my-5 p-5">
    <form action="" [formGroup]="newDriver">
        <div class="form-group">
            <label for="fullName">Nom complet :</label>
            <input class="form-control" type="text" id="fullName" formControlName="fullName">
        </div>
        <div class="form-group">
            <label for="pays">Pays :</label>
            <input class="form-control" type="text" id="pays" formControlName="pays">
        </div>
        <div class="form-group">
            <label for="coverImage">Photo du/de la pilote (url) :</label>
            <input class="form-control" type="text" id="coverImage" formControlName="coverImage">
        </div>
        <div class="form-group my-3">
            <label for="category" class="me-2">Catégorie</label>
            <select id="category" formControlName="category">
                <option value="">--Choisir une catégorie</option>
                <option value="gymkhana">Gymkhana</option>
                <option value="nascar">Nascar</option>
                <option value="rallye">Rallye</option>
                <option value="formule1">Formule 1</option>
                <option value="drag">Drag</option>
            </select>
        </div>
        <button type="submit" [disabled]="!newDriver.valid" class="btn btn-primary my-3">Ajouter</button>
    </form>
</div>
<!-- <button (click)="updateFullName()">Update Name</button> -->


<!-- <div class="col-6 border shadow my-5 p-5">
    <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
        <div class="form-group">
            <label for="fullName">Nom du pilote</label>
            <input type="text" class="form-control" id="fullName" name="fullName" ngModel required #fullName="ngModel">
            <div [hidden]="fullName.valid || fullName.pristine" class="alert alert-danger">Nom requis 😶</div>
        </div>
        <div class="form-group">
            <label for="pays">Pays d'origine</label>
            <input type="text" class="form-control" id="pays" name="pays" ngModel required #pays="ngModel">
            <div [hidden]="pays.valid || pays.pristine" class="alert alert-danger">Pays d'origine requis 🧳</div>
        </div>
        <div class="form-group">
            <label for="coverImage"> Photo du/de la pilote (url)</label>
            <input type="text" class="form-control" id="coverImage" name="coverImage" ngModel required #coverImage="ngModel">
            <div [hidden]="coverImage.valid || coverImage.pristine" class="alert alert-danger">Une photo est requise 🤳</div>
        </div>
        <div class="form-group my-3">
            <label for="category" class="me-2">Catégorie</label>
            <select id="category" name="category" ngModel required #category="ngModel">
                <option value="">--Choisir une catégorie</option>
                <option value="gymkhana">Gymkhana</option>
                <option value="nascar">Nascar</option>
                <option value="rallye">Rallye</option>
                <option value="formule1">Formule 1</option>
                <option value="drag">Drag</option>
            </select>
            <div [hidden]="category.valid || category.pristine" class="alert alert-danger">Catégorie requise 🤯</div>
        </div>
        <button class="btn btn-success my-5">Enregistrer</button>
    </form>
</div> -->
