<div class="jumbotron my-5 py-5 text-center shadow rounded bg-light">
    <h1 class="display-3 text-danger">{{ title }}</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">eXotic Cars</a>
    </p>
</div> 

<input type="text" [(ngModel)]="userName">

{{userName}}

<div class="row row-cols-3 card-deck justify-content-center">
  <app-driver-item *ngFor="let bestDriver of bestDrivers" [driver]="bestDriver"></app-driver-item>
</div>

<div class="row row-cols-3 card-deck justify-content-center">
  <app-car-item *ngFor="let bestCar of bestCars" [car]="bestCar"></app-car-item>
</div>